.catalog {
    margin-bottom: 65px;
    &__card {
        position: relative;
        border-radius: 10px;
        padding-top: 28px;
        padding-bottom: 30px;
        padding-left: 30px;
        background-color: var(--color-grey_ligth);
    }
    &__card-big {
        grid-column: 6 span;
    }
    &__card-categories {
        display: inline-block;
        margin-bottom: 14px;
        font-size: 14px;
        color: var(--color-grey);
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
    &__foto-big {
        position: absolute;
        left: 0;
        top: 121px;
    }
    &__card-title {
        margin-bottom: 368px;
    }
    &__link-link {
        display: inline-flex;
        align-items: center;
    }
    &__link-box {
        text-align: center;
        width: 110px;
    }
    &__link-icon {
        width: 22px;
        height: 22px;
        fill: none;
        stroke-width: 2px;
        stroke: var(--color-purple);
        transition: .3s ease-in-out;
    }
    &__link-content {
        margin-right: 5px;
        line-height: 22px;
        font-weight: 700;
        color: var(--color-purple);
        line-height: 1.1;
    }
    &__link-link .catalog__link-content:after {
        background-color: var(--color-purple);
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    &__link-link:hover .catalog__link-icon {
        fill: var(--color-purple);
        stroke: var(--color-white);
    }
    &__link-link:hover .catalog__link-content:after,
    &__link-link:focus .catalog__link-content:after {
        width: 100%;
    }
    &__link-link:active .catalog__link-content:after {
        width: 100%;
        background-color: var(--color-primary_shade);
    }
    &__link-link:focus {
        outline: none;
        .catalog__link-icon {
            stroke: var(--color-white);
            fill: var(--color-purple-hover);
        }
    }
    &__link-link:active .catalog__link-icon {
        stroke: var(--color-white);
        fill: var(--color-primary_shade);
    }
    &__card-small {
        grid-column: 4 span;
    }
    &__card-title2 {
        margin-bottom: 262px;
    }
}
