    .header {
        margin-bottom: 35px;
        .choices__inner {
            border: none;
            min-height: auto;
            color: var(--color-purple);
            background-color: inherit;
            font-size: 16px;
            transition: color 0.3s ease-in-out;
        }
        .choices__inner:hover {
            color: var(--color-purple-hover);
        }
        .choices:focus {
            background: var(--color-pink_violet);
        }
        .choices__inner:active {
            color: var(--color-primary_shade);
        }
        .choices[data-type*=select-one] .choices__inner {
            padding-bottom: 5px;
        }
        .choices[data-type*=select-one]:after {
            background: url(../../img/check.svg) no-repeat;
            width: 12px;
            height: 8px;
            border: none;
        }
        .choices[data-type*=select-one].is-open:after {
            transform: rotate(180deg);
            padding-top: 13px;
        }
        .is-open .choices__inner {
            border: none;
            min-height: auto;
            background-color: inherit;
        }
        .choices__list--dropdown {
            border: none;
            border-radius: 0;
            margin-top: 10px;
        }
        .choices__list--dropdown .choices__item--selectable {
            padding-right: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
            color: var(--color-black);
        }
        .choices__item {
            margin-right: 17px;
        }
        .choices__list--single .choices__item {
            width: 60px;
        }
        .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
            display: none;
        }
        .choices__list--single {
            padding: 0;
        }
        .choices__list .choices__item.is-selected {
            display: none;
        }
        .choices.is-focused.is-open {
            background-color: transparent;
            color: var(--color-primary_shade);
        }
        .choices.choices1.is-focused {
            background-color: var(--color-pink_violet);
        }
        &__one {
            justify-content: space-between;
            padding: 0 14px;
            background-color: var(--color-grey_ligth);
        }
        &__all {
            display: flex;
            justify-content: space-between;
        }
        &__logo {
            outline: none;
        }
        &__one-content {
            align-items: center;
        }
        &__select-text {
            font-size: 16px;
            color: var(--color-black);
        }
        &__right {
            align-items: center;
            margin-right: -10px;
            padding: 16px 0;
        }
        &__select-box {
            align-items: center;
            margin-right: 21px;
        }
        &__phone-link {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: var(--color-secondary);
            transition: color .3s ease-in-out;
            line-height: 22px;
        }
        &__phone-link:hover {
            color: var(--color-secondary_light);
            .header__phone-icon {
                fill: var(--color-secondary_light);
            }
        }
        &__phone-link:focus {
            outline: none;
            background-color: #fff5d1;
        }
        &__phone-link:active {
            color: #bb370e;
        }
        &__phone-icon {
            padding-bottom: 2px;
            margin-right: 2px;
            width: 19px;
            height: 19px;
            fill: currentColor;
            transition: fill .3s ease-in-out;
        }
        &__nav-link {
            transition: color .3s ease-in-out;
            font-size: 14px;
            padding: 1px 10px;
            color: var(--color-grey);
        }
        &__list-itams :hover {
            color: var(--color-purple);
        }
        &__list-itams:not(:last-child) {
            margin-right: 44px;
        }
        &__nav-link:focus {
            outline: none;
            color: var(--color-primary_shade);
            background-color: var(--color-pink_violet);
        }
        &__nav-link:active {
            color: var(--color-primary_shade);
        }
        // второе меню
        &__too {
            align-items: center;
            justify-content: space-between;
            padding-top: 32px;
            padding-bottom: 30px;
        }
        &__list-items2:not(:last-child) {
            margin-right: 67px;
        }
        &__nav-link2 {
            font-size: 16px;
            color: var(--color-black);
            padding: 3px 12px;
            transition: color .3s ease-in-out;
        }
        &__nav-link2:hover {
            color: var(--color-purple);
        }
        &__nav-link2:focus {
            outline: none;
            background-color: var(--color-pink_violet);
            color: #000;
        }
        &__nav-link2:active {
            color: var(--color-primary_shade);
        }
        &__nav-list2 {
            margin: 0;
            margin-right: -9px;
        }
        // третье меню
        &__three {
            align-items: center;
            justify-content: space-between;
        }
        &__search {
            width: 20px;
            height: 20px;
        }
        &__form {
            position: relative;
            display: flex;
            align-items: center;
            width: 761px;
            padding-left: 57px;
            border: solid 2px transparent;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            background-color: var(--color-grey_ligth);
            transition: color .3s ease-in-out;
        }
        &__span-search {
            fill: var(--color-grey);
        }
        &__form:hover {
            background-color: var(--color-md_grey);
        }
        &__form:focus-within {
            border: solid 2px var(--color-purple);
            .header__span-search {
                fill: var(--color-purple);
            }
        }
        &__form:active {
            background-color: var(--color-grey_ligth);
        }
        &__span-search {
            position: absolute;
            left: 31px;
            top: 16px;
        }
        &__input-search {
            outline: none;
            border: none;
            height: 100%;
            width: 100%;
            background-color: transparent;
        }
        &__form-btn {
            position: absolute;
            top: 11px;
            right: 25px;
            fill: none;
            stroke: var(--color-purple);
            stroke-width: 2px;
            width: 40px;
            height: 32px;
            transition: fill .3s ease-in-out, stroke .3s ease-in-out;
        }
        &__form-btn:hover {
            fill: var(--color-purple);
            stroke: var(--color-white);
        }
        .btn-focus:focus .header__form-btn {
            fill: var(--color-purple-hover);
            stroke: var(--color-white);
        }
        .btn-focus:active .header__form-btn {
            fill: var(--color-primary_shade);
            stroke: var(--color-white);
        }
        &__select-too-box {
            .choices {
                width: 300px;
                border: 2px solid var(--color-grey_ligth);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: var(--color-purple);
                transition: color .3s ease-in-out;
            }
            .choices__placeholder {
                opacity: 1;
            }
            .choices[data-type*=select-one] .choices__inner {
                padding: 0;
            }
            .choices__inner {
                padding: 0;
                padding-right: 10px;
                cursor: pointer;
                border: none;
                outline: none;
                color: var(--color-purple);
                font-size: 16px;
            }
            .choices__list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 30px;
                row-gap: 0;
                width: 300px;
                padding: 17px 32px;
                padding-right: 80px;
            }
            .choices__list--dropdown {
                border: 2px solid var(--color-grey_ligth);
                border-top: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                z-index: 999;
                min-height: 100%;
                width: 300px;
                padding: 0;
            }
            .choices__list--dropdown.is-active {
                padding: 0;
                padding-right: 30px;
            }
            .choices.is-focused.is-open {
                border: 2px solid var(--color-grey_ligth);
            }
            .choices__list--dropdown .choices__item--selectable {
                margin-left: -20px;
            }
            .choices__item {
                margin: 0;
            }
            .choices:hover {
                border: 2px solid var(--color-purple);
            }
            .choices:focus {
                background-color: var(--color-pink_light);
                border: 2px solid var(--color-purple);
            }
            .choices[data-type*=select-one]:after {
                padding-right: 25px;
            }
            .choices[data-type*=select-one].is-open:after {
                margin-right: 13px;
            }
            #choices--default-item-choice-1 {
                display: none;
            }
        }
        &__three-left {
            display: flex;
        }
        &__form-user {
            width: 26px;
            height: 28px;
            fill: var(--color-purple);
            transition: fill .3s ease-in-out;
        }
        &__form-user:hover {
            fill: var(--color-purple-hover);
        }
        &__three-user:focus {
            background-color: var(--color-purple-hover);
            .header__form-user {
                fill: var(--color-white);
            }
        }
        &__form-user:active {
            fill: var(--color-primary_shade);
        }
        &__three-user {
            outline: none;
            padding: 4px;
            margin-right: 26px;
        }
        &__basket {
            position: relative;
            padding: 4px;
            padding-left: 13px;
            margin-right: -4px;
        }
        &__quantity {
            position: absolute;
            border-radius: 100%;
            margin-left: 4px;
            width: 14px;
            height: 15px;
            right: 30px;
            top: 9px;
            font-weight: 700;
            padding: 2.2px 4.3px;
            font-size: 10px;
            color: var(--color-white);
            background-color: var(--color-secondary);
        }
        &__form-basket {
            width: 30px;
            height: 28px;
            fill: var(--color-purple);
        }
        &__form-basket:hover {
            fill: var(--color-purple-hover);
        }
        &__basket:focus {
            background-color: var(--color-purple-hover);
            .header__three-basket .header__form-basket {
                fill: var(--color-white);
            }
        }
        &__basket:active {
            fill: var(--color-primary_shade);
        }
        .swiper-container {
            width: 100%;
            height: 700px;
        }
    }
