.header {
  margin-bottom: 32px;

  &__one {
    background-color: var(--color-grey_ligth);
    padding: 0 14px;
  }

  &__one-content {
    align-items: center;
    justify-content: space-between;
  }

  &__select--text {
    font-size: 16px;
    color: (--var-black);
  }

  &__rigth {
    align-items: center;
    justify-content: space-between;
    width: 1070px;
  }

  &__select-box {
    align-items: center;
  }

  &__select {
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-purple);
    background-color: transparent;
    border: none;
  }

  &__phone--link {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    font-size: 14px;
  }

  &__phone--icon {
    width: 17px;
    height: 17px;
  }

  &__nav-link {
    color: var(--color-grey);
    font-size: 14px;
  }

  &__list-itams:not(:last-child) {
    margin-right: 64px;
  }

  // второе меню
  &__too {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 187px;
    height: 27px;
  }

  &__list-items2:not(:last-child) {
    margin-right: 91px;
  }

  &__nav-link2 {
    font-size: 16px;
    color: var(--color-black);
  }

  &__nav-list2 {
    margin: 0;
  }

  // третье меню
  &__three {
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    margin-top: 5px;
    width: 20px;
    height: 20px;
  }

  &__form {
    display: flex;
    align-items: center;
    width: 761px;
    padding: 13px 32px;
    background-color: var(--color-grey_ligth);

  }

  &__span-search {
    margin-right: 9px;
  }

  &__input-search {
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  &__form-arrow {
    width: 32px;
    height: 32px;
  }

  &__select-too-box {
    width: 300px;
    border: 2px solid var(--color-grey_ligth);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 17px 32px;
  }

  &__select-too {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    color: var(--color-purple);
    font-size: 16px;
  }

  &__form-user {
    width: 26px;
    height: 28px;
  }

  &__three-user {
    margin-right: 43px;
  }

  &__form-basket {
    width: 30px;
    height: 28px;
  }

  .swiper-container {
    width: 100%;
    height: 700px;
  }
}
