.reting {
  margin-bottom: 70px;

  &__card {
    position: relative;
    grid-column: 3 span;
    background-color: var(--color-grey_ligth);
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 33px;
    padding-bottom: 30px;
  }

  &__star {
    background: url(../../img/star.svg) no-repeat;
    width: 16px;
    height: 15px;
    margin-right: 7px;
  }

  &__star-text {
    color: var(--color-secondary);
    font-size: 16px;
  }

  &__card-foto {
    position: absolute;
    bottom: 229px;
    left: 50%;
    margin-left: -45%;
  }

  &__star-box {
    margin-bottom: 156px;
  }

  &__card-title {
    margin-bottom: 24px;
  }

  &__price {
    font-size: 18px;
    color: var(--color-secondary);
    margin-bottom: 24px;
  }

  &__btn-big {
    grid-column: 5/9;
    margin: 0 55px;
  }
}
