.useful {
    margin-bottom: 63px;
    &__card {
        position: relative;
        grid-column: 6 span;
        border-radius: 10px;
        background-color: var(--color-grey_ligth);
    }
    &__foto {
        margin-bottom: 30px;
    }
    &__card-box {
        position: relative;
        padding-right: 30px;
        padding-left: 30px;
        height: 220px;
    }
    &__text {
        width: 540px;
        font-size: 24px;
        line-height: 130%;
    }
    &__card-btn {
        position: absolute;
        left: 30px;
        top: 132px;
    }
    .swiper-container3 {
        overflow: hidden;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: static;
        transition: fill .3s ease-in-out, stroke .3s ease-in-out;
        width: 32px;
        height: 32px;
    }
    .swiper-button-prev {
        margin-right: 13px;
        transform: scaleX(-1);
    }
    .swiper-button-next {
        margin-right: 0;
    }
    .swiper-btn-icon {
        fill: var(--color-white);
        stroke: var(--color-purple);
        stroke-width: 2px;
    }
    .swiper-button-prev:hover .swiper-btn-icon {
        stroke: var(--color-white);
        fill: var(--color-purple);
    }
    .swiper-button-next:hover .swiper-btn-icon {
        stroke: var(--color-white);
        fill: var(--color-purple);
    }
    .swiper-button-prev:focus .swiper-btn-icon {
        stroke: var(--color-white);
        fill: var(--color-purple-hover);
    }
    .swiper-button-next:focus .swiper-btn-icon {
        stroke: var(--color-white);
        fill: var(--color-purple-hover);
    }
    .swiper-button-prev:active .swiper-btn-icon {
        stroke: var(--color-white);
        fill: var(--color-primary_shade);
    }
    .swiper-button-next:active .swiper-btn-icon {
        stroke: var(--color-white);
        fill: var(--color-primary_shade);
    }
    .slider-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }
    .swiper-button-box {
        display: flex;
        padding-top: 26px;
    }
}