<section class="catalog container">
    <h2 class="reset site-title catalog__title">Топ категории</h2>
    <div class="grid">
        <article class="catalog__card-big catalog__card">
            <span class="catalog__card-categories">Прямые</span>
            <span class="catalog__card-categories">Угловые</span>
            <span class="catalog__card-categories">Модульные</span>
            <h3 class="reset card-title catalog__card-title">Диваны</h3>
            <img src="../img/category__foto1.png" alt="диван1" class="catalog__foto-big">
            <a class="catalog__link-link" href="#"><span class="catalog__link-content">В каталог</span>
        <svg class="catalog__link-icon">
          <use xlink:href="img/sprite.svg#catalog-arrow"></use>
        </svg>
      </a>


        </article>
        <article class="catalog__card-big catalog__card">
            <span class="catalog__card-categories">Мягкие</span>
            <span class="catalog__card-categories">Кресла-кровати</span>
            <h3 class="reset card-title catalog__card-title">Кресла</h3>
            <img src="../img/category__foto2.png" alt="диван1" class="catalog__foto-big">
            <a class="catalog__link-link" href="#"><span class="catalog__link-content">В каталог</span>
        <svg class="catalog__link-icon">
          <use xlink:href="img/sprite.svg#catalog-arrow"></use>
        </svg>
      </a>
        </article>
        <article class="catalog__card-small catalog__card">
            <span class="catalog__card-categories">Односпальные</span>
            <span class="catalog__card-categories">Двуспальные</span>
            <h3 class="reset card-title catalog__card-title2">Кровати</h3>
            <img src="../img/category__foto1-small.png" alt="диван1" class="catalog__foto-big">
            <a class="catalog__link-link" href="#"><span class="catalog__link-content">В каталог</span>
        <svg class="catalog__link-icon">
          <use xlink:href="img/sprite.svg#catalog-arrow"></use>
        </svg>
      </a>
        </article>
        <article class="catalog__card-small catalog__card">
            <span class="catalog__card-categories">Тумбы</span>
            <span class="catalog__card-categories">Комоды</span>
            <h3 class="reset card-title catalog__card-title2">Тумбы и комоды</h3>
            <img src="../img/category__foto2-small.png" alt="диван1" class="catalog__foto-big">
            <a class="catalog__link-link" href="#"><span class="catalog__link-content">В каталог</span>
        <svg class="catalog__link-icon">
          <use xlink:href="img/sprite.svg#catalog-arrow"></use>
        </svg>
      </a>
        </article>
        <article class="catalog__card-small catalog__card">
            <span class="catalog__card-categories">Деревянные</span>
            <span class="catalog__card-categories">Металлокаркас</span>
            <h3 class="reset card-title catalog__card-title2">Стулья</h3>
            <img src="../img/category__foto3-small.png" alt="диван1" class="catalog__foto-big">
            <a class="catalog__link-link" href="#"><span class="catalog__link-content">В каталог</span>
        <svg class="catalog__link-icon">
          <use xlink:href="img/sprite.svg#catalog-arrow"></use>
        </svg>
      </a>
        </article>
    </div>
</section>