<footer class="footer">
    <div class="footer__bg">
        <div class="container grid">
            <div class="footer__left">
                <a class="footer__logo" href="#">
                    <svg class="logo">
            <use xlink:href="img/sprite.svg#header__logo"></use>
          </svg>
                </a>
                <div class="footer__soc-box">
                    <a class="icon-size" href="#">
                        <svg class="fb">
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
                    </a>
                    <a class="icon-size" href="#">
                        <svg class="vk">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg></a>
                    <a class="icon-size" href="#">
                        <svg class="instagram">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg></a>
                </div>
            </div>
            <div class="footer__rigth">
                <div class="footer__abaut footer__abaut-size1">
                    <h5 class="reset footer__title">О нас</h5>
                    <ul class="ul-reset footer__list">
                        <li class="footer__list-itams"><a class="footer__link" href="#">О компании</a></li>
                        <li class="footer__list-itams"><a class="footer__link" href="#">Блог</a></li>
                    </ul>
                </div>
                <div class="footer__abaut footer__abaut-size2">
                    <h5 class="reset footer__title">Услуги</h5>
                    <ul class="ul-reset footer__list">
                        <li class="footer__list-itams"><a class="footer__link" href="#">Доставка</a></li>
                        <li class="footer__list-itams"><a class="footer__link" href="#">Рассрочка и кредит</a></li>
                        <li class="footer__list-itams"><a class="footer__link" href="#">Сборка и установка</a></li>
                    </ul>
                </div>
                <div class="footer__abaut footer__abaut-size3">
                    <h5 class="reset footer__title">Связь с нами</h5>
                    <ul class="ul-reset footer__list">
                        <li class="footer__list-itams"><a class="footer__link" href="#">Обратная связь</a></li>
                        <li class="footer__list-itams"><a class="footer__link" href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__abaut">
                    <h5 class="reset footer__title">Сотрудничество</h5>
                    <ul class="ul-reset footer__list">
                        <li class="footer__list-itams"><a class="footer__link" href="#">Поставщикам</a></li>
                        <li class="footer__list-itams"><a class="footer__link" href="#">Оптовикам</a></li>
                        <li class="footer__list-itams"><a class="footer__link" href="#">Карьера</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="reset footer__span">SDP® 2011-2021</p>
</footer>
