<header class="header">
    <div class="header__one">
        <div class="container">
            <div class="header__all">
                <div class="header__one-content flex">
                    <div class="flex header__select-box">
                        <span class="header__select-text">Ваш регион:</span>
                        <select class="choices" name="select-cities">
                          <option value="Москва">Москва</option>
                          <option value="Казань">Казань</option>
                          <option value="Уфа">Уфа</option>
                          <option value="Пермь">Пермь</option>
                        </select>
                    </div>
                    <a class="header__phone-link" href="tel:+74958854547">
                        <svg class="header__phone-icon">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg> +7 (495) 885-45-47
                    </a>
                </div>
                <div class="header__right flex">
                    <nav>
                        <ul class="header__nav-list  ul-reset flex">
                            <li class="header__list-itams"><a class="header__nav-link" href="#">О компании</a></li>
                            <li class="header__list-itams"><a class="header__nav-link" href="#">Гарантия и возврат</a></li>
                            <li class="header__list-itams"><a class="header__nav-link" href="#">Корпоративным клиентам</a></li>
                            <li class="header__list-itams"><a class="header__nav-link" href="#">Дизайн-решение</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <div class="header__too container flex">
        <a class="header__logo" href="#">
            <svg class="logo">
        <use xlink:href="img/sprite.svg#header__logo"></use>
      </svg>
        </a>
        <nav class="header__nav-too">
            <ul class="header__nav-list2  ul-reset flex">
                <li class="header__list-items2"><a class="header__nav-link2" href="#">Каталог</a></li>
                <li class="header__list-items2"><a class="header__nav-link2" href="#">Магазины</a></li>
                <li class="header__list-items2"><a class="header__nav-link2" href="#">Шоу-рум</a></li>
                <li class="header__list-items2"><a class="header__nav-link2" href="#">Доставка и оплата</a></li>
                <li class="header__list-items2"><a class="header__nav-link2" href="#">Дисконт</a></li>
                <li class="header__list-items2"><a class="header__nav-link2" href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__three flex container">
        <div class="header__three-left flex">
            <form class="header__form" action="https://jsonplaceholder.typicode.com/posts" method="POST">
                <span class="header__span-search">
          <svg class="header__search">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </span>
                <input class="header__input-search" type="search" placeholder="Я хочу купить">
                <button class="header__form-btn btn-reset">
        </button>
            </form>
            <div class="header__select-too-box">
                <select class="choices2" name="select-category">
                  <option value="">Категории</option>
                    <option value="Диваны">Диваны</option>
                    <option value="Комоды">Комоды</option>
                    <option value="Кресла">Кресла</option>
                    <option value="Стулья">Стулья</option>
                    <option value="Пуфы">Пуфы</option>
                    <option value="Столы">Столы</option>
                    <option value="Кровати">Кровати</option>
                    <option value="Аксессуары">Аксессуары</option>
                    <option value="Тумбы">Тумбы</option>
                 </select>
            </div>
        </div>
        <div class="header__three-left">
            <a class="header__three-user" href="#">
                <svg class="header__form-user">
          <use xlink:href="img/sprite.svg#user"></use>
        </svg>
            </a>

            <button class="header__basket btn-reset">
                <span class="header__quantity">0</span>
                <span class="header__three-basket btn-reset">
          <svg class="header__form-basket">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
        </span>
            </button>
        </div>
    </div>
</header>
