<section class="hero">
    <h1 class="visually-hidden">мебель по доступным ценам от производителя</h1>
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide hero__slide-foto1 hero__slide-size">
                <div class="container">
                    <div class="hero__content container">
                        <h2 class="reset hero__title">Скидка 15% на первую покупку</h2>
                        <button class="hero__btn btn-purple btn-reset">Получить!</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide hero__slide-foto2 hero__slide-size">
                <div class="container">
                    <div class="hero__content container">
                        <h2 class="reset hero__title">1000+ аксессуаров для дома</h2>
                        <button class="hero__btn btn-purple btn-reset">Получить!</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide hero__slide-foto3 hero__slide-size">
                <div class="container">
                    <div class="hero__content container">
                        <h2 class="reset hero__title hero__title-white hero__title-size">Коллекция стильного и яркого текстиля</h2>
                        <button class="hero__btn btn-purple btn-reset">Получить!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
