<section class="offers container">
  <h2 class="site__title">Специальные предложения</h2>
  <div class="grid">
    <article class="offers__card-small">
      <span class="offers__arrow">- 9 000</span>
      <img class="offers__img1" src="../img/offers__foto1.jpg" alt="Кресло">
      <h3 class="offers__card-title">Кресло велюровое<br> “X-24”</h3>
      <div class="offers__price-box flex">
        <p class="offers__price">15 990 руб</p>
        <del class="offers__price-none">24 990 руб</del>
      </div>
      <button class="offers__card-btn btn-reset">Купить</button>
    </article>
    <article class="offers__card-big">
      <div class="offers__arrow">- 10 000</div>
      <img class="offers__img-big" src="../img/offers__foto2.jpg" alt="Кресло">
      <h3 class="offers__card-title">Диван тканевый<br> “Z-44”</h3>
      <div class="offers__price-box flex">
        <p class="offers__price">22 990 руб</p>
        <del class="offers__price-none">32 990 руб</del>
      </div>
      <div class="offers__card-scheme"></div>
      <button class="offers__card-btn btn-reset">Купить</button>
    </article>
    <article class="offers__card-small">
      <div class="offers__arrow">- 600</div>
      <img class="offers__img1" src="../img/offers__foto3.jpg" alt="Кресло">
      <h3 class="offers__card-title">Будильник<br> “Quartz-23”</h3>
      <div class="offers__price-box flex">
        <p class="offers__price">1 290 руб</p>
        <del class="offers__price-none">1 890 руб</del>
      </div>
      <button class="offers__card-btn btn-reset">Купить</button>
    </article>
  </div>
</section>
