<section class="offers container">
    <div class="swiper-container2">
        <div class="slider-top">
            <h2 class="reset site-title">Специальные предложения</h2>
            <div class="swiper-button-box">
                <button class="swiper-button-prev btn-reset"></button>
                <button class="swiper-button-next btn-reset"></button>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="grid">
                    <article class="offers__card-small">
                        <span class="offers__arrow">- 9 000</span>
                        <img class="offers__img1 offers__size" src="../img/offers__foto1.png" alt="Кресло">
                        <h3 class="reset offers__card-title card-title">Кресло велюровое<br> “X-24”</h3>
                        <div class="reset offers__price-box flex">
                            <p class="reset offers__price">15 990 руб</p>
                            <del class="offers__price-none">24 990 руб</del>
                        </div>
                        <button class="offers__card-btn card-btn btn-reset">Купить</button>
                    </article>
                    <article class="offers__card-big">
                        <div class="offers__arrow">- 10 000</div>
                        <img class="offers__img-big" src="../img/offers__foto2.png" alt="Диван">
                        <h3 class="reset offers__card-title card-title">Диван тканевый<br> “Z-44”</h3>
                        <div class="offers__price-box flex">
                            <p class="reset offers__price">22 990 руб</p>
                            <del class="offers__price-none">32 990 руб</del>
                        </div>
                        <div class="offers__card-scheme"></div>
                        <button class="offers__card-btn card-btn btn-reset">Купить</button>
                    </article>
                    <article class="offers__card-small">
                        <div class="offers__arrow">- 600</div>
                        <img class="offers__img1" src="../img/offers__foto3.png" alt="Будильник">
                        <h3 class="reset offers__card-title card-title">Будильник<br> “Quartz-23”</h3>
                        <div class="offers__price-box flex">
                            <p class="reset offers__price">1 290 руб</p>
                            <del class="offers__price-none">1 890 руб</del>
                        </div>
                        <button class="offers__card-btn card-btn btn-reset">Купить</button>
                    </article>
                </div>
            </div>
            <!-- второй слайд -->
            <div class="swiper-slide">
                <div class="grid">
                    <article class="offers__card-small">
                        <span class="offers__arrow">- 300</span>
                        <img class="offers__img1 offers__img1-slide2" src="../img/offers2__foto1.png" alt="Скульптура">
                        <h3 class="reset offers__card-title card-title">Мини-скульптура<br> “Oh my deer”</h3>
                        <div class="offers__price-box flex">
                            <p class="reset offers__price">690 руб</p>
                            <del class="offers__price-none">990 руб</del>
                        </div>
                        <button class="offers__card-btn card-btn btn-reset">Купить</button>
                    </article>
                    <article class="offers__card-big">
                        <div class="offers__arrow">- 10 000</div>
                        <img class="offers__img-big" src="../img/offers2__foto2.png" alt="Диван">
                        <h3 class="reset offers__card-title card-title">Диван вел-флок<br> “Z-85”</h3>
                        <div class="offers__price-box flex">
                            <p class="reset offers__price">22 990 руб</p>
                            <del class="offers__price-none">32 990 руб</del>
                        </div>
                        <div class="offers__card-scheme"></div>
                        <button class="offers__card-btn card-btn btn-reset">Купить</button>
                    </article>
                    <article class="offers__card-small">
                        <div class="offers__arrow">- 700</div>
                        <img class="offers__img1 offers__img3-slide2" src="../img/offers2__foto3.png" alt="Турмометр">
                        <h3 class="reset offers__card-title card-title">Термометр +<br> гидрометр “H-18”</h3>
                        <div class="offers__price-box flex">
                            <p class="reset offers__price">1 390 руб</p>
                            <del class="offers__price-none">2 090 руб</del>
                        </div>
                        <button class="offers__card-btn card-btn btn-reset">Купить</button>
                    </article>
                </div>
            </div>
        </div>
    </div>

</section>
