<section class="reting container">
  <h2 class="site__title reting__title">Высокий рейтинг</h2>
  <div class="grid">
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <article class="reting__card">
      <div class="flex reting__star-box">
        <div class="reting__star"></div>
        <p class="reting__star-text">5,0</p>
      </div>
      <img class="reting__card-foto" src="../img/retung__cad-foto1.png" alt="диван1">
      <h3 class="card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
      <p class="reting__price">94 990 руб</p>
      <button class="reting__card-btn card-btn btn-reset">Купить</button>
    </article>
    <button class="reting__btn-big btn__purple btn-reset">Смотреть больше товаров</button>
  </div>
</section>
