<section class="reting container">
    <h2 class="reset site__title reting__title">Высокий рейтинг</h2>
    <div class="grid">
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">5,0</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto1.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван кожаный<br> “R-94”</h3>
            <p class="reset reting__price">94 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,9</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto2.png" alt="диван1">
            <h3 class="card-title reting__card-title">Диван апартековый<br> “T-75”</h3>
            <p class="reset reting__price">69 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,8</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto3.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван тканевый<br> “D-31”</h3>
            <p class="reset reting__price">28 490 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,8</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto4.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван велюровый<br> “Y-68”</h3>
            <p class="reset reting__price">22 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,8</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto5.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван из шинила<br> “W-95”</h3>
            <p class="reset reting__price">22 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,8</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto6.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван флоковый<br>“G-41”</h3>
            <p class="reset reting__price">17 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,8</p>
            </div>
            <img class="reting__card-foto" src="../img/reting__cad-foto7.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван шиниловый<br> “V-43”</h3>
            <p class="reset reting__price">19 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <article class="reting__card">
            <div class="flex reting__star-box">
                <div class="reting__star"></div>
                <p class="reset reting__star-text">4,7</p>
            </div>
            <img class="reting__card-foto reting__card-small-foto" src="../img/reting__cad-foto8.png" alt="диван1">
            <h3 class="reset card-title reting__card-title">Диван велюровый<br> “S-99”</h3>
            <p class="reset reting__price">19 990 руб</p>
            <button class="reting__card-btn card-btn btn-reset">Купить</button>
        </article>
        <button class="reting__btn-big btn__purple btn-reset">Смотреть больше товаров</button>
    </div>
</section>
