<section class="useful container">
    <div class="swiper-container3">
        <div class="slider-top">
            <h2 class="reset site-title useful__title">Полезное</h2>
            <div class="swiper-button-box">
                <button class="swiper-button-prev btn-reset"></button>
                <button class="swiper-button-next btn-reset"></button>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="useful__card">
                    <img class="useful__foto" src="../img/useful__foto1.jpg" alt="мебель в комнате">
                    <div class="useful__card-box">
                        <p class="reset useful__text">И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?</p>
                        <button class="useful__card-btn card-btn btn-reset">Читать</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="useful__card">
                    <img class="useful__foto" src="../img/useful__foto2.jpg" alt="мебель в комнате">
                    <div class="useful__card-box">
                        <p class="reset useful__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
                        <button class="useful__card-btn card-btn btn-reset">Читать</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="useful__card">
                    <img class="useful__foto" src="../img/useful__foto3.jpg" alt="мебель в комнате">
                    <div class="useful__card-box">
                        <p class="reset useful__text">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</p>
                        <button class="useful__card-btn card-btn btn-reset">Читать</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="useful__card">
                    <img class="useful__foto" src="../img/useful__foto4.jpg" alt="мебель в комнате">
                    <div class="useful__card-box">
                        <p class="reset useful__text">Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
                        </p>
                        <button class="useful__card-btn card-btn btn-reset">Читать</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="useful__card">
                    <img class="useful__foto" src="../img/useful__foto5.jpg" alt="мебель в комнате">
                    <div class="useful__card-box">
                        <p class="reset useful__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
                        <button class="useful__card-btn card-btn btn-reset">Читать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
