<section class="useful container">
  <h2 class="site__title useful__title">Полезное</h2>
  <div class="grid">
    <div class="useful__card">
      <img class="useful__foto" src="../img/useful__foto1.jpg" alt="мебель в комнате">
      <div class="useful__card-box">
        <p class="useful__text">И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют
          собой не&nbsp;что иное?</p>
        <button class="useful__card-btn card-btn btn-reset">Читать</button>
      </div>
    </div>
    <div class="useful__card">
      <img class="useful__foto" src="../img/useful__foto2.jpg" alt="мебель в комнате">
      <div class="useful__card-box">
        <p class="useful__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
        <button class="useful__card-btn card-btn btn-reset">Читать</button>
      </div>
    </div>
  </div>
</section>
