            html {
                box-sizing: border-box;
            }

            *,
            *::before,
            *::after {
                box-sizing: inherit;
            }

            body {
                margin: 0;
                font-family: "OpenSans", sans-serif;
                font-weight: 400;
            }

            .reset {
                margin: 0;
                padding: 0;
            }

            .site-title {
                font-weight: 400;
                font-size: 32px;
                margin-bottom: 26px;
                color: var(--color-black);
            }

            img {
                max-width: 100%;
            }

            .flex {
                display: flex;
            }

            .visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                border: 0;
                clip: rect(0 0 0 0)
            }

            a {
                text-decoration: none;
            }

            .form-link {
                font-size: 14px;
                color: var(--color-purple);
                text-decoration: underline;
            }

            .form-link:focus {
                outline: none;
                color: red;
            }

             ::-webkit-input-placeholder {
                color: var(--color-grey);
            }

             ::-moz-placeholder {
                color: var(--color-grey);
            }
            /* Firefox 19+ */

             :-moz-placeholder {
                color: var(--color-grey);
            }
            /* Firefox 18- */

             :-ms-input-placeholder {
                color: var(--color-grey);
            }

             :focus::-webkit-input-placeholder {
                opacity: 0;
            }
            /* webkit */

             :focus::-moz-placeholder {
                opacity: 0;
            }
            /* Firefox 19+ */

             :focus:-moz-placeholder {
                opacity: 0;
            }
            /* Firefox 18- */

             :focus:-ms-input-placeholder {
                opacity: 0;
            }
            /* IE */
            /* IE */

            .ul-reset {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .is-outer {
                position: relative !important; // stylelint-disable-line declaration-no-important
                left: -9999px !important; // stylelint-disable-line declaration-no-important
            }

            .site-container {
                overflow: hidden;
            }

            .is-hidden {
                display: none !important; // stylelint-disable-line declaration-no-important
            }

            .for-mobile {
                display: none;
                @include mobile {
                    display: block;
                }
            }

            .error {
                border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
            }

            .logo {
                width: 187px;
                height: 27px;
            }

            .btn-reset {
                outline: none;
                padding: 0;
                transition: .3s ease-in-out;
                background: transparent;
                cursor: pointer;
                border: none;
            }

            .container {
                margin: 0 auto;
                padding: 0 15px;
                max-width: 1310px;
            }

            .js-focus-visible :focus:not(.focus-visible) {
                outline: none;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 32px;
            }

            .card-title {
                font-weight: 400;
                font-size: 24px;
                color: var(--color-black);
                line-height: 1.3;
            }

            .card-btn {
                background-color: transparent;
                border: 2px solid var(--color-purple);
                border-radius: 10px;
                padding: 16px 34px;
                color: var(--color-purple);
                font-weight: 500;
                font-size: 16px;
            }

            .card-btn:hover {
                background-color: var(--color-purple);
                color: #fff;
            }

            .card-btn:focus {
                background-color: var(--color-purple-hover);
                border: solid 2px var(--color-purple);
                color: #fff;
            }

            .card-btn:active {
                background-color: var(--color-primary_shade);
            }

            .btn-purple {
                background-color: var(--color-purple);
                padding: 18px 32px;
                border: solid 2px var(--color-purple);
                border-radius: 10px;
                color: var(--color-white);
                font-weight: 700;
                font-size: 16px;
            }

            .btn-purple:hover {
                background-color: var(--color-purple-hover);
            }

            .btn-purple:focus {
                background-color: var(--color-purple-hover);
                border: solid 2px var(--color-primary_shade);
            }

            .btn-purple:active {
                background-color: var(--color-primary_shade);
            }

            .fb,
            .vk,
            .instagram {
                width: 34px;
                height: 34px;
                fill: var(--color-grey);
                transition: .3s ease-in-out;
                padding: 2px;
            }

            .fb:hover,
            .vk:hover,
            .instagram:hover {
                fill: var(--color-purple);
            }

            .icon-size:active {
                .fb,
                .vk,
                .instagram {
                    fill: var(--color-primary_shade);
                }
            }

            .icon-size:focus {
                outline: none;
                .fb,
                .vk,
                .instagram {
                    background-color: var(--color-purple-hover);
                    fill: var(--color-white);
                }
            }

            .icon-size {
                &:not(:last-child) {
                    margin-right: 11px;
                }
            }
