// COLORS
:root {
    --color-black: #333;
    --color-purple: #a65cf0;
    --color-purple-hover: #c998fb;
    --color-white: #fff;
    --color-secondary: #ff862f;
    --color-secondary_light: #ffbd59;
    --color-grey: #999;
    --color-grey_ligth: #f6f6f6;
    --color-grey_shade: #666;
    --color-md_grey: #eaeaea;
    --color-primary_shade: #7033ac;
    --color-pink_violet: #ebd1ff;
    --color-pink_light: #f8efff;
}
