:root {
  --color-black: #333;
  --color-purple: #a65cf0;
  --color-white: #fff;
  --color-secondary: #ff862f;
  --color-grey: #999;
  --color-grey_ligth: #f6f6f6;
  --color-grey_shade: #666;
  --color-md_grey: #eaeaea;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/../fonts/playfair_display_black.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: bold;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.site__title {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 26px;
  color: var(--color-black);
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

.form__link {
  font-size: 14px;
  color: var(--color-purple);
}

::-webkit-input-placeholder {
  color: var(--color-grey);
}

::-moz-placeholder {
  color: var(--color-grey);
}

/* Firefox 19+ */
:-moz-placeholder {
  color: var(--color-grey);
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: var(--color-grey);
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* webkit */
:focus::-moz-placeholder {
  opacity: 0;
}

/* Firefox 19+ */
:focus:-moz-placeholder {
  opacity: 0;
}

/* Firefox 18- */
:focus:-ms-input-placeholder {
  opacity: 0;
}

/* IE */
/* IE */
.ul__reset {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;
}

@media (max-width: 768px) {
  .for-mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important;
}

.logo {
  width: 187px;
  height: 27px;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.card-title {
  font-weight: 400;
  font-size: 24px;
  color: var(--color-black);
  line-height: 1.3;
}

.card-btn {
  background-color: transparent;
  border: 2px solid var(--color-purple);
  border-radius: 10px;
  padding: 16px 34px;
  color: var(--color-purple);
  font-weight: 500;
  font-size: 16px;
}

.btn__purple {
  background-color: var(--color-purple);
  padding: 22px 36px;
  border-radius: 10px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
}

.icon-size {
  width: 30px;
  height: 30px;
}

.icon-size:not(:last-child) {
  margin-right: 20px;
}
/*# sourceMappingURL=global.css.map */